[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "dreamerr"]
	path = dreamerr
	url = https://github.com/lrberge/dreamerr
	shallow = true
	registered = true
[submodule "fixest"]
	path = fixest
	url = https://github.com/lrberge/fixest
	shallow = true
	registered = true
